.menu{
    position:fixed;
    background-image: url('img/menu.gif');
    background-repeat:no-repeat;
    height:100%;
    width:100%;
    margin:0;
    top:0;
    left:0;
    z-index:8; 
}
 
 
.wrapper{
    width:980px;
    margin-left: 100px;
    margin-top: 150px;
    color: brown;
    z-index:10;
}

.overBlock{
    background-repeat:no-repeat;
    position:relative;
    top:0px;
    left: 55px;
    z-index:10; 
}
img {
    width: 250px;

}
