#content{
    width:800px; /* ширина блока div, в котором находятся все элементы */
    margin:0 auto; /* располагаем данный блок по центру */
}
 
#block1{
    border:1px solid #cc0000; 
    width:200px; 
    background-image: url('img/love.png');
    background-repeat:no-repeat; 
    background-position:150px 5px;
    padding:0 5px 10px 10px; 
    text-align:justify;
    float:left; 
    background-size: 50px 50px;
}
 
#block1 h2{
    color:#cc0000; 
}
 
#block2{
    border:1px solid #cc0000; 
    width:200px; 
    background-image: url('img/Wink.png');  
    background-repeat:no-repeat;
    background-position:150px 5px; 
    padding:0 5px 10px 10px; 
    text-align:justify;
    margin-left:230px; 
    background-size: 50px 50px;
}
 
#block2 h2{
    color:#cc0000; 
}
