#content{
    font:14px bold arial,verdana,sans-serif;
    color:#C91212;
}
 
.firstPar{
    font:inherit;
    color:inherit;
}
 
.secondPar{
    font:10px bold arial,verdana,sans-serif;
    color:#000CFF;
}
