body{
    background-image:url('img/pepe.jpg'); /* изображение для фона */
    background-repeat:repeat; /* запрещаем повтор изображения */
    background-attachment:fixed; /* фиксируем изображение */
    background-color:#cccccc; /* задаем фон, если изображения на странице отключены */
}
 
#content{
    width:600px; /* задаем ширину блока */
    margin:0 auto; /* размещаем блок по центру */
}
